<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">
    <meta name="robots" content="noindex, nofollow">
    <!--<link rel="shortcut icon" href="http://www.chartes.psl.eu/favicon.ico" type="image/vnd.microsoft.icon">-->
    {% block title %}
        {% if title %}<title>{{ title }}</title>{% endif %}
    {% endblock %}

    <link rel="stylesheet" href="{{ url_for('app_bp.static', filename='css/html.css') }}">
    <link rel="stylesheet" href="{{ url_for('app_bp.static', filename='css/postprod.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('app_bp.static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('app_bp.static', filename='css/xcode.css') }}">


    <script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <script type="text/javascript" src="{{ url_for('app_bp.static', filename='js/highlight.pack.js') }}"></script>
    {% block head_scripts %}
    {% endblock head_scripts %}
</head>
<body>


{% block hero %}
    <section id="hero-section" class="hero is-light">
        <div class="hero-head">
            {% block navbar %}
                <nav class="navbar is-light" role="navigation" aria-label="main navigation">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="{{ url_for('app_bp.index') }}">
                            <!-- <img src="{{ url_for('app_bp.static', filename='images/logo-ecole-nationale-des-chartes-header.png') }}"
                                 alt="École Nationale des Chartes - PSL" height="30"> -->
                        </a>

                        <div class="navbar-burger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>

                    <div class="navbar-menu">
                        <a class="navbar-item breadcrumb-index" href="{{ url_for('app_bp.index') }}">
                            <div class="title is-size-5" style="font-style: normal">Distributed Text Services - Demo </div>
                        </a>
                        {% block breadcrumb %} {% endblock %}
                    </div>

                    <div class="navbar-end">

                    </div>
                </nav>
            {% endblock %}
        </div>

    </section>
{% endblock %}

{% block content %}
    {% block app_content %}{% endblock %}
{% endblock %}


{% block scripts %}
{% endblock %}

</body>
</html>
