
<header class="card-header">
   <p class="card-header-title">
       {{ collection["@id"] }} - {{ collection["totalItems"] }} item(s)
   </p>
   <a class="api-link" href="{{ api_url }}">{{ api_url }}</a>
</header>
<div class="card-content">
   <div id="card-content" class="content">
      <div>
         <table class="table is-striped is-hoverable">
            <head>
               <th>Id</th>
               <th>Title</th>
               <th>Type</th>
               <th>Total items</th>
            </head>
            <body>
               {% for m in collection["member"] %}
               <tr class="hidden-nav">
                  <td>{{ m["@id"] }}</td>
                  <td>
                     <div><input type="hidden" value="{{ url_for('app_bp.collections') }}?id={{ m["@id"] }}"/>{{ m["title"] }}</div>
                  </td>
                  <td>{{ m["@type"] }}</td>
                  <td>{{ m["totalItems"] }}</td>
               </tr>
               {% endfor %}
            </body>
         </table>
      </div>
   </div>
</div>
