<header class="card-header">
   <div class="card-header-title">
           <div id="home" class="button" style="margin-left: 12px; margin-right: 12px;"><i class="fas fa-home"></i></div>
           <p style="margin: 7px">Document <a id="api-link" class="api-link" style="margin-left: 12px;" href="{{ api_url }}">{{ api_url }}</a></p>
   </div>
</header>
<div class="card-content">
   <div id="card-content" class="content">
        <div class="columns">
            <div id="aside-col" class="column"></div>
            <div id="content-col" class="column is-four-fifths">
                   {{ document }}
            </div>
        </div>
   </div>
</div>


