{% extends 'main/base.html' %}

{% block content %}
<section class="section">
   <div class="container is-fluid">
      <div class="content">
         <h1 style="margin-bottom: 0.5em; font-family: inherit; text-align: inherit">Welcome to the Distributed Text Services (DTS) demo browser</h1>
         <p>Official documentation about the DTS API is available at:
            <a href="http://w3id.org/dts">http://w3id.org/dts</a>
         </p>
         <p>
            The application allows you to quickly navigate through collections of documents.
         </p>
         <ul>
            <li>The <a href="https://distributed-text-services.github.io/Collection-Endpoint.html">Collection Endpoint</a> is used to navigate the text collection contents</li>
            <li>The <a href="https://distributed-text-services.github.io/Navigation-Endpoint.html">Navigation Endpoint</a> is used to navigate within a single text document</li>
            <li>The <a href="https://distributed-text-services.github.io/Document-Endpoint.html">Document Endpoint</a> is used to retrieve complete or partial texts</li>
         </ul>
         <p>This demo lets you browse any DTS-compliant API known to the <a href="https://github.com/mromanello/aggregator">DTS aggregator</a>.</p>
         <p>The <a href="https://github.com/chartes/dts-demo/">original code</a> for the DTS demo application was developed by <a href="https://github.com/mrgecko">Julien Pilla</a> (École Nationale des Chartes),
           and further adapted by Matteo Romanello (UniL) to work as a generic DTS browser.</p>

         <div id="collection-card" class="card" style="margin-top: 40px;"></div>
      </div>
   </div>
</section>
{% endblock content %}

{% block scripts %}
<script type="text/javascript">

   const default_collection_url = "{{ url_for('app_bp.entrypoints') }}";

   function load_card(card_id, url) {

           let xmlhttp = new XMLHttpRequest();
           xmlhttp.onreadystatechange = function() {
               if (xmlhttp.readyState === XMLHttpRequest.DONE) {   // XMLHttpRequest.DONE == 4
                   if (xmlhttp.status === 200) {

                       // load the card content
                       document.getElementById(card_id).innerHTML = xmlhttp.responseText;
                       document.getElementById("home").onclick = function() {
                           load_card("collection-card", default_collection_url);
                       };

                       for (let e of document.getElementsByTagName("code")) {
                           //e.innerText = e.innerText.replace(/'/g, '"');
                           let s = JSON.parse(e.innerText);
                           s = JSON.stringify(s, undefined, 2);
                           e.innerText = s;
                           hljs.highlightBlock(e);
                       }

                       // bind the api link
                       for (let e of document.getElementsByClassName("hidden-nav")) {
                          e.onclick = function() {
                            load_card("collection-card", e.getElementsByTagName("input")[0].value);
                          };
                       }

                       // move <aside> elements to aside-col
                       for (let aside of document.getElementsByTagName("aside")) {
                           document.getElementById("aside-col").appendChild(aside);
                       }
                   }
               }
           };

           xmlhttp.open("GET", url, true);
           xmlhttp.send();

   }

   document.addEventListener("DOMContentLoaded", function (event) {
       load_card("collection-card", default_collection_url);
   });
</script>
{% endblock %}
