{% extends 'main/base.html' %}

{% block content %}
<section class="section">
   <div class="container is-fluid">
      <div class="content">
         <h1>Welcome to the Distributed Text Services (DTS) demonstration application</h1>
         <p>Official documentation is available at:
            <a href="https://distributed-text-services.github.io/">https://distributed-text-services.github.io/</a>
         </p>
         <p>
            This website directly exposes DTS endpoints served by instance of <a href="https://github.com/Capitains/Nautilus">Nautilus</a>.
         <ul>
            <li>The <a href="https://distributed-text-services.github.io/Collection-Endpoint.html">Collection Endpoint</a> is used to navigate the text collection contents</li>
            <li>The <a href="https://distributed-text-services.github.io/Navigation-Endpoint.html">Navigation Endpoint</a> is used to navigate within a single text document</li>
            <li>The <a href="https://distributed-text-services.github.io/Document-Endpoint.html">Document Endpoint</a> is used to retrieve complete or partial texts</li>
         </ul>
         The following data sample is exposed through a <a href="http://cite-architecture.github.io/cts/">CTS</a> compliant implementation: <a href="https://github.com/Capitains/MyCapytain">MyCapytain</a>.
         <p>
         </p>
         <div id="card" class="card" style="margin-top: 40px;"> </div>
      </div>
   </div>
</section>
{% endblock content %}

{% block scripts %}
<script type="text/javascript">
   function load_card(url) {
           let xmlhttp = new XMLHttpRequest();
           xmlhttp.onreadystatechange = function() {
               if (xmlhttp.readyState === XMLHttpRequest.DONE) {   // XMLHttpRequest.DONE == 4
                   if (xmlhttp.status === 200) {
                       const data = xmlhttp.responseText;
                       document.getElementById("card").innerHTML = data;

                       for (let e of document.getElementsByClassName("hidden-nav")) {
                          e.onclick = function() {
                               console.log(e.getElementsByTagName("input")[0]);
                               load_card(e.getElementsByTagName("input")[0].value);
                          };
                       }
                   }
               }
           };

           xmlhttp.open("GET", url, true);
           xmlhttp.send();

   }

   document.addEventListener("DOMContentLoaded", function (event) {
           let default_url = "{{ url_for('app_bp.collections') }}";
           load_card(default_url);
   });
</script>
{% endblock %}

