
{% macro load_navigation(navigation) %}
   <table class="table is-narrow is-striped">
      <thead>
          <th>Attribute</th>
          <th>Value</th>
      </thead>
      <tbody>
          <tr><td>@Context</td><td><code class="json">{{navigation["@context"]|tojson|decode}}</code></td></tr>
          <tr><td>@id</td><td>{{navigation["@id"]}}</td></tr>
          {% if "dts:citeDepth" in navigation %}
          <tr><td>dts:citeDepth</td><td><code class="json">{{navigation["dts:citeDepth"]|tojson|decode}}</code></td></tr>
          {% endif %}
          {% if "dts:level" in navigation %}
          <tr><td>dts:level</td><td><code class="json">{{navigation["dts:level"]|tojson|decode}}</code></td></tr>
          {% endif %}
          {% if "member" in navigation %}
          <tr><td>member</td><td><code class="json">{{navigation["member"]|tojson|decode}}</code></td></tr>
          {% endif %}
          {% if "dts:passage" in navigation %}
          <tr><td>dts:passage</td><td>{{navigation["dts:passage"]}}</td></tr>
          {% endif %}
      </tbody>
   </table>
{% endmacro %}